@model WebApplication1.Models.Person
@{
    ViewData["Title"] = "create";
}

<h1>create</h1>
<p>Fornavn = @ViewBag.p.Fornavn </p>
<p>Efternavn = @ViewBag.p.Efternavn </p>
<p>Alder = @ViewBag.p.Alder </p>