
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        stop med at lege dit barn
        @ViewBag.name
        @ViewBag.age
        @ViewBag.birthDay
    </div>
</body>
</html>
