
@{
    ViewData["Title"] = "BuyAndSell";
}
@section BuySection {
            <div>
                Det her er BuySection
            </div>
}
@section SaleSection {
    <div>
        Det her er SaleSection
    </div>
}




<h1>BuyAndSell</h1>

