
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculator</title>
</head>
<body>

    <p> Timer @ViewBag.Hours minutter @ViewBag.Minutes sekunder @ViewBag.Seconds = @ViewBag.Total  </p>

</body>
</html>
